{%- set scriptsDir = '/var/lib/openmediavault/borgbackup' -%}
{%- set startHour = salt['pillar.get']('default:OMV_BORGBACKUP_STARTING_HOUR', 2) | int -%}
{%- set startHour2 = (startHour + 1) if (startHour + 1) <= 23 else 0 -%}
{{ pillar['headers']['multiline'] }}
# This is the cron file for openmediavault-borgbackup.
# m h   dom mon dow     user    command
5 *     * * *           root    run-parts {{ scriptsDir }}/hourly.d/
30 {{ startHour2 }}    * * *           root    run-parts {{ scriptsDir }}/daily.d/
0  {{ startHour2 }}    * * 1           root    run-parts {{ scriptsDir }}/weekly.d/
30 {{ startHour }}    1 * *           root    run-parts {{ scriptsDir }}/monthly.d/
00 {{ startHour }}    1 1 *           root    run-parts {{ scriptsDir }}/yearly.d/
