{{ pillar['headers']['multiline'] }}
# This is the cron file for openmediavault-borgbackup.
# m h   dom mon dow     user    command
{%- set base = scriptsDir ~ '/' %}
{%- for archive in config.archives.archive | selectattr('enable') %}
{%- set name = scriptPrefix ~ archive.uuid %}

# {{ archive.name }}
{%- if archive.hourly > 0 %}
{{ archive.hourlymin }} * * * *  root  {{ base ~ 'hourly.d/' ~ name }}
{%- endif %}
{%- if archive.daily > 0 %}
{{ archive.dailymin }} {{ archive.dailyhour }} * * *  root  {{ base ~ 'daily.d/' ~ name }}
{%- endif %}
{%- if archive.weekly > 0 %}
{{ archive.weeklymin }} {{ archive.weeklyhour }} * * 1  root  {{ base ~ 'weekly.d/' ~ name }}
{%- endif %}
{%- if archive.monthly > 0 %}
{{ archive.monthlymin }} {{ archive.monthlyhour }} 1 * *  root  {{ base ~ 'monthly.d/' ~ name }}
{%- endif %}
{%- if archive.yearly > 0 %}
{{ archive.yearlymin }} {{ archive.yearlyhour }} 1 1 *  root  {{ base ~ 'yearly.d/' ~ name }}
{%- endif %}
{%- endfor %}
