Source: openmediavault-borgbackup
Section: net
XB-Plugin-Section: backup
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2

Package: openmediavault-borgbackup
Architecture: all
Depends: openmediavault (>= 7.7.6),
         python3-llfuse,
         borgbackup (>= 1.1.0)
Description: borgbackup plugin for OpenMediaVault.
 BorgBackup is a deduplicating backup program.
 Optionally, it supports compression and authenticated
 encryption.
